---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

@import "premonition";

$post-image-border-size: 20px;
$post-image-border-size2: 8px;
$post-image-border-color: rgba(0,0,0,0.2);
$post-image-border-color2: rgba(0,0,0,0.1);

.post-content h1{
    font-size: 2em
}
.post-content h2{
    font-size: 1.5em
}
.post-content h3{
    font-size: 1.17em
}
.post-content h4{
    font-size: unset
}
.post-content h5{
    font-size: 0.83em
}
.post-content h6{
    font-size: 0.67em
}

.post-image{
    width: 100%;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow:
            0px $post-image-border-size $post-image-border-size $post-image-border-color inset,
            $post-image-border-size 0px $post-image-border-size $post-image-border-color inset,
            -$post-image-border-size 0px $post-image-border-size $post-image-border-color inset,
            0px  $post-image-border-size*-1 $post-image-border-size $post-image-border-color inset,
            0px $post-image-border-size2 $post-image-border-size2 $post-image-border-color2 inset,
            $post-image-border-size2 0px $post-image-border-size2 $post-image-border-color2 inset,
            -$post-image-border-size2 0px $post-image-border-size2 $post-image-border-color2 inset,
            0px  $post-image-border-size2*-1 $post-image-border-size2 $post-image-border-color2 inset
}

.post-image.overview {
    width: 320px;
    height: 180px;
    float:left;
    margin-right:40px
}

@media screen and (max-width: 600px){
    .post-image{
        height: 200px;
    }
    .post-image.overview {
        float:none;
    }
}

.align-left{
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
}
.align-right{
    margin-left: 1rem;
    margin-bottom: 1rem;
    float: right;
}

article.post {
    display: table-cell;
}

nav.toc{
    display: table-cell;
}

.post-toc{
    width: 200px;
    margin-right: -200px;
    position: relative;
    top: 500px;
}

.post-toc[state=lock]{
    position: fixed;
    top: 4.8rem;
}

ul.toc-nav {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}