---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            <div>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
            </div>
            <div style="float:left; margin-right:40px">
                {% if post.image %}
                    {% assign image = post.image %}
                    {% if jekyll.environment == 'production' %}
                        {% assign image = post.image | replace_first: 'images/posts/','images/posts/320x180/' %}
                    {% endif %}
                <div style="background-image:url({{ image | relative_url }});"
                     class="post-image overview"></div>
                {% endif %}
            </div>
            <div>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
                {% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ post.description }}{% endif %}
            </div>
            <hr style="clear:both"/>
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>
