---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>
{% if page.toc %}
<nav class="toc">
  <div id="toc-container" class="post-toc">
    {{ content | toc_only }}
  </div>
</nav>
{% endif %}
