---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
        </p>
    </header>

    {% if page.image %}
    {% assign image = page.image %}
    {% if jekyll.environment == 'production' %}
    {% assign image = page.image | replace_first: 'images/posts/','images/posts/752x423/' %}
    {% endif %}
    <div style="background-image:url({{image | relative_url }});"
         class="post-image"></div>

    {% endif %}

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% if page.toc %}
<nav class="toc">
    <div id="toc-container" class="post-toc">
        {{ content | toc_only }}
    </div>
</nav>
{% endif %}